:root
 {
--prim: #e0e0e0;
--sec: #f0f0f0;
--bg: #0a0a0a;
--txt: #fcfffe;
}

body {
    font-family: 'Inconsolata', monospace;
background-color: var(--bg);
color: var(--txt);
background-attachment: scroll;
background-size:cover;
text-size-adjust: auto;
-webkit-text-size-adjust: auto;
overflow:hidden;
padding:0;
margin:0
}

.ascii-hero {
    font-family: "Courier New", Courier, monospace;
}

.terminal-window {
border: 1px solid var(--prim);
background-color: var(--bg);
border-radius: 5px;
width: 100%;
height:100%;
min-height: 98vh;
max-height: 105vh;
}

.centered {
    position:absolute;
    left: 50%;
   

}


#contentscroll {
    scrollbar-width: none; /*firefox prolly, idk code assist says this, lemme check*/
    -ms-overflow-style: none; /* here comes microslop*/
    overflow-y: auto;
    flex: 1;
    min-height:0;

}



#command {
    cursor: text;
    color: var(--sec);
    height: 50px;
}


.texter {
    position: absolute;
    opacity: 0;
    left: 0;
     top: 0;
    z-index: -1;
pointer-events: none;

}

#liner {
    line-height: normal;
    animation: show 500ms ease forwards;
    opacity: 0;
    animation-delay: 350ms; 
}


#liner::before {
    content: "subh@terminal~$";
}

.cursor {
    color: var(--sec);
    background-color: var(--sec);
    font-size: 12px;
    position: relative;
    opacity: 1;
    height: 1.5em;
    width: 10px;
    overflow: hidden;
    transform: translateY(4px);
    text-indent: -5px;
    display: inline-block;
    text-decoration: blink;
    animation: blinker 1s linear infinite;
    
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.command {
    color: var(--sec);
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: flex-end;
    pointer-events: none;
}

/* gonna do the bugging stuff later */